<div class="jumbotron">
  <h2>Découverte d'Angular</h2>
  <p>
    Version Angular : 7.1 (Février 2019)<br>
    Exercice : Construire une app qui gère les contacts et présente des fonctions de lecture / ajout / suppression.
  </p>
  <p>L'application gère les contacts et présente des fonctions de lecture / ajout / suppression.</p>
  <p>Les points abordés :</p>
  <ul>
    <li>Les commandes du CLI : ng new, ng serve, ng build, ng g component, ng g service, ng g pipe</li>
    <li>Revue rapide des fichiers et dossiers d'une app Angular 4</li>
    <li>Création d'un component from scratch et via le CLI</li>
    <li>Création d'un service et création des méthodes d'accès et de partage des données</li>
    <li>Pipe / Utilisation des pipes natifs et création d'un customPipe
    <li>RxJS / HttpClient pour faire des requêtes de type get() post() / Notion d'observable et d'observer / Partager des données via le Subject et Behavior Subject</li>
    <li>Le routing / Mettre en place le routing dans l'app.module, mettre en place le router-outlet, puis l'utiliser via l'attribut routerLink dans le template et via this.router.navigate([''] dans la class);</li>
    <li>BONUS (à venir) : Création d'un système d'authentification</li>
  </ul>
<hr>
  <small>Des questions ? Contactez-moi  <a href="mailto:frederic.lossignol@gmail.com">frederic.lossignol@gmail.com</a></small>
</div>