<app-add-contact [contact]="selectedContact" 
                  [contactIndex]="selectedContactIndex" 
                  (addEvent)="storeContact($event)" 
                  *ngIf="isFormVisible">
</app-add-contact>


<div class="d-flex mt-2 mb-2">
      <h2 class="mr-auto">{{contacts? contacts.length : '0'}} contact(s)</h2>
      <button *ngIf="!isFormVisible" type="button" (click)="selectGridOrList()" class="btn btn-outline-secondary btn-sm mx-2">{{toggleGridList==='list'? 'Grille' : 'Liste'}}</button>
      <button *ngIf="!isFormVisible" type="button" (click)="orderBy()" class="btn btn-outline-info btn-sm mx-2">Trier par {{orderCriteria==='date'? "nom" : "date"}}</button>
      <button *ngIf="!isFormVisible" type="button" (click)="showContactFormAction($event)" class="btn btn-dark">+ Ajouter</button>
      <i *ngIf="isFormVisible" (click)="showContactFormAction($event)" class="fas fa-times"></i>
</div>

<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1"></span>
    <input type="text" class="form-control" #searchInput (keyup)='filterContacts(searchInput.value)' placeholder="Rechercher...">
    <!-- <p>Vous recherchez : {{searchword.value}}</p>  -->
     <!-- 
      On peut récupérer directement dans le template la saisie d'un utilisateur dans un <input>
      - sur la balise <input> on déclare une variable avec #nomDeLaVariable
      - on accède à cette variable dans le template avec {{nomDeLaVariable.value}}
      - Attention : on utilise l'evenement keyup aussi sur l'input pour mettre à jour la valeur de cette variable à chaque fois que l'utilisateur presse une touche
      -->
</div>



<div>

<!-- LOADER -->
<div *ngIf="loading==true" style="margin:0 auto; width: 24px">
    <div class="loader loader--style8" title="7">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
          </rect>
        </svg>
      </div>
</div>


<!-- LIST DES CONTACTS / TEMPLATE LIST-->
<ul *ngIf="loading===false && toggleGridList==='list'" [@slideAnimation] class="list-group">
   
    <!-- 
      la directive de structure *ngFor="let variable of array"
      permet d'afficher une liste directement dans la vue depuis une variable de type array
      lorsque notre component dispose d'un array (ici "contacts" qui est déclaré dans contacts.component.ts)
    -->

    <!-- 
      (click)="showDetails(contact)" 
      Dans une vue html les directives d'évènement sont entre ()
      Ici (click)="showDetails(contact)" exécutera la méthode showDetails() déclarée dans contacts.component.ts
    -->

    <!-- 
      Le PIPE pour filtrer la liste des contact 
      On peut l'ajouter dans le *ngFor="let contact of contacts | filterContacts:searchword.value"
    -->
  <li (click)="showDetailsAction($event, contact.id)" 
      *ngFor="let contact of contacts | order:orderCriteria; let i=index" 
      class="list-group-item list-group-item-action">
    <button class="btn btn-light" (click)="deleteContactAction($event, contact)">
      <i class="far fa-trash-alt"></i>
    </button>
   
    <img [class.women]="contact.gender=='female'" class="img-thumbnail" width="50" src="{{contact.picture.thumbnail}}">
    {{contact.name.first | firstletter}} {{contact.name.last | uppercase}}

    <span class="float-right d-none d-md-inline">

      Ajouté le {{contact.registered.date | date:"dd/MM/yy"}}
      <button (click)="addOrRemoveToFavAction($event, contact)" class="btn btn-light">
        <i class="fa-star primary" [style.color]="calculateClass(contact)?'orange':'black'" [ngClass]="calculateClass(contact)?'fas':'far'"></i>
      </button>

    </span>
  </li>
</ul>

<!-- LIST DES CONTACTS / TEMPLATE GRID IMAGE-->

<div class="row" *ngIf="loading===false && toggleGridList==='grid'" [@slideAnimation]>

  <div class="col-3 p-3"
      (click)="showDetailsAction($event, contact.id)" 
      *ngFor="let contact of contacts | order:orderCriteria; let i=index">

      <img [class.women]="contact.gender=='female'" class="img-thumbnail" style="width:100%" [src]="contact.picture.large">
</div>

</div>




<!-- {{contacts | json}} -->
</div>






