<div class="jumbotron">
        <h2>Quelques liens utiles</h2>
        <p>
          Angular V7<br>
        </p>
        <ul>
          <li>Angular officiel :<br> <a href="https://angular.io">La documentation d'Angular</a></li>
          <li>Installer l'environnement, le CLI, créer une app Angular5 et la servir dans le navigateur :<br> 
              <a href="https://angular.io/guide/quickstart">https://angular.io/guide/quickstart</a>
          </li>
          <li>L'API d'Angular : <br><a href="https://angular.io/api">https://angular.io/api</a></li>
          <li>Alligator, un super blog Javascript/angular/react/vueJs : <br><a href="https://alligator.io/angular">https://alligator.io/angular</a></li>

          <hr>


          <li>Mettre en place la navigation avec les class Router, Route et ActivatedRoute<br>
          <a href="https://angular.io/guide/router">Lire la doc Angular</a></li>
          <li>Mettre en place un ReactiveForm :<br>
          <a href="https://alligator.io/angular/reactive-forms-introduction/">Lire l'article</a></li>
           <li>Manager le "State" d'une application front-end c'est mettre en place La séparation logique / données - L'idée est la suivante : On maintient une source de données dans un service et tous les components y ont accès via des fonctions CRUD - Dans Angular on fonctionne souvent avec RxJS Observable et les Subjects)<br>
          <a href="https://dev.to/avatsaev/simple-state-management-in-angular-with-only-services-and-rxjs-41p8">Lire l'article</a></li>
          <li>Les animations avec Angular<br>
          <a href="https://blog.angularindepth.com/total-guide-to-dynamic-angular-animations-that-can-be-toggled-at-runtime-be5bb6778a0a">Lire l'article</a></li>
          <li>Client side filtering with streams (observable) :<br>
          <a href="https://blog.strongbrew.io/client-side-filtering-with-streams/">Lire l'article</a></li>
        </ul>
      <hr>
        <small>Des questions ? Contactez-moi  <a href="mailto:frederic.lossignol@gmail.com">frederic.lossignol@gmail.com</a></small>
      </div>
